version: "3"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: linux-pyinstaller
    volumes:
      - ./dist:/app/dist
    environment:
      - DEBIAN_FRONTEND=noninteractive
